/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* html {
  font-size: 62.5%;
  overflow-x: hidden;
  padding-top: 0;
} */

/* body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  zoom: 90%;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 0;
} */

.toAll{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
  overflow-x: hidden;
  padding-top: 0;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* zoom: 90%; */
  /* background-color: #333; */
  overflow-x: hidden;
  padding-top: 0;
}

/****************GENRAL**************************/




.tochangesize-ag {
  font-size: 62.5%;
  zoom: 90%;
}

.head-small-size{
  zoom:80%;
}

.tochangesize2-ag {
  font-size: 62.5%;
  zoom: 80%;
}

.testy-ag {
  height: 300px;
  width: 100%;
}
/* .step-text-box {
  transition-delay: 200ms;
}

.step-img-box {
  transition-delay: 400ms;
} */

/* .logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}
.logo:nth-child(4) {
  transition-delay: 600ms;
}
.logo:nth-child(5) {
  transition-delay: 800ms;
} */

/* .testi-background {
  transition-delay: 400ms;
}

.gallery-item:nth-child(1) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(2) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(3) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(4) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(5) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(6) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(7) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(8) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(9) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(10) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(11) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(12) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(13) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(14) {
  transition-delay: 600ms;
}
.gallery-item:nth-child(15) {
  transition-delay: 600ms;
} */

.slidetrans-ag {       
  opacity: 100;
  /* filter: blur(5px); */
  /* transform: translateX(100%); */
  /* transition: all 1s; */
}

.slidetransl-ag {
  /* opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s; */
}

.show-ag {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.btn-ag,
.btn-ag:link,
.btn-ag:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full-ag:link,
.btn--full-ag:visited {
  background-color: #bb3e03;
  color: #fff;
}

.btn--full-ag:hover,
.btn--full-ag:active {
  background-color: #cb997e;
}

.btn--outline-ag:link,
.btn--outline-ag:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline-ag:hover,
.btn--outline-ag:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm-ag {
  margin-right: 1.6rem !important;
}

.container-ag {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.conntainer-ag {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid-ag {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
    margin-bottom: 0;
  } */

.grid-ag:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols-ag {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-v-ag {
  align-items: center;
}

.logo-ag {
  height: 3rem;
}
/******************************************/
.heaader-ag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8edeb;

  /* Because we want header to be sticky later */
  height: 6rem;
  padding: 2rem 4.8rem;
  position: relative;
}

.newhead-ag {
  margin-top: 0;
  padding-top: 2%;
}

.main-nav-ag {
  margin-left: 40%;
}

.main-nav-list-ag {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link-ag:link,
.main-nav-link-ag:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link-ag:hover,
.main-nav-link-ag:active {
  color: #cb997e;
}

.main-nav-link-ag.nav-cta-ag:link,
.main-nav-link-ag.nav-cta-ag:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #bb3e03;
}

.main-nav-link-ag.nav-cta-ag:hover,
.main-nav-link-ag.nav-cta-ag:active {
  background-color: #cb997e;
}

/* STICKY NAVIGATION */
.sticky-ag .header-ag {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky-ag .section-hero-ag {
  margin-top: 9.6rem;
}

/*****************************/

.heading-primary-ag,
.heading-secondary-ag,
.heading-tertiary-ag {
  font-weight: 700;

  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary-ag {
  color: #333;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary-ag {
  font-family: "Playfair Display", serif;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.heading-tertiary-ag {
  color: #333;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading-ag {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cb997e;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/********************/

.section-hero-ag {
  background-color: #f8edeb;
  padding: 4.8rem 0 9.6rem 0;
  overflow: hidden;
  background-image: url(../assets/images/image/crousal1.jpeg);
  background-size: cover;
  /* background-repeat: no-repeat;*/
  animation: change 10s infinite ease-in-out;
}

@keyframes change {       /* SOMU */        
  0% {
    background-image: url(/images/image/crousal2.jpeg);
  }
  50% {
    background-image: url(/images/image/crousal3.jpeg);
  }

  100% {
    background-image: url(/images/image/crousal1.jpeg);
  }
}

.hero-ag {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description-ag {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals-ag {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6rem;
  padding-left: 10%;
}

.delivered-imgs-ag {
  margin-left: 10%;
  display: flex;
}

.delivered-imgs-ag img {  
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs-ag img:last-child { 
  margin: 0;
}

.hero-white-ag {
  background-color: #f8edeb;
  height: 110%;
  width: 130%;
  border-radius: 50%;
  opacity: 0.7;
}

.heading-main-ag {
  margin-top: 15%;
  margin-left: 9%;
}

.discription-main-ag {
  margin-left: 5%;
}

.butt-main-ag {
  padding-left: 30%;
}

.delivered-text-ag {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text-ag span {
  color: #bb3e03;
  font-weight: 700;
}

.section-featured-ag {
  padding: 20rem 0 20rem 0;
}

.heading-featured-in-ag {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos-ag {
  display: flex;
  justify-content: space-around;
}

.logos-ag img { 
  height: 4rem;
  filter: brightness(0);
  opacity: 50%;
  margin-right: 2rem;
}

.part-sec-ag {
  display: flex;
  height: 500px;
}

.part1-ag {
  width: 47%;
  box-sizing: border-box;
  background-color: #333;
  color: #cb997e;
}

.part2-ag {
  width: 53%;
  box-sizing: border-box;
  border-left: 100px;
  background-color: #cb997e;
  border-left: 100px solid #333;
  border-bottom: 620px solid transparent;
  color: #333;
}

.secondary-changes-ag {
  padding-left: 10%;
  padding-top: 8%;
  letter-spacing: 2px;
}

.content-para-ag {
  padding-bottom: 2%;
  padding-left: 4%;
  font-size: 1.6rem;
}

.postion-change-ag {
}

.content-para-2-ag {
  padding-bottom: 3%;
  padding-right: 4%;
  font-size: 1.6rem;
}

.list-style-ag {
  font-size: 1.6rem;
  padding-bottom: 1.2%;
}

.section-how-ag {
  padding: 9.6rem 0;
}

.step-number-ag {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description-ag {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box-ag {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-ag {
  border-radius: 50%;
  width: 80%;
  /* z-index: 10; */
}

/* testamonial */
.partsec2-ag {
  display: flex;
  height: 1000px;
}
.part11-ag {
  width: 47%;
  box-sizing: border-box;
  background-color: #cb997e;
}

.part22-ag {
  width: 53%;
  box-sizing: border-box;
  border-left: 100px;
  background-color: #f8edeb;
  border-left: 100px solid #cb997e;
  border-bottom: 1000px solid transparent;
}

.testimonials-container-ag {
  padding: 4.8rem 9.6rem;
}

.testimonials-ag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 8rem;
}

.testimonial-img-ag {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text-ag {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #cb997e;
}

.testimonial-name-ag {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.testi-background-ag {
  background-color: #333;
  border-radius: 20%;
  padding: 10%;
  width: 120%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 0.4s;
}

.testi-background-ag:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.gallery-ag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  padding: 1.6rem;
}

.gallery-item-ag {
  overflow: hidden;
}

.gallery-item-ag img { 
  display: block;
  width: 85%;
  transition: all 0.4s;
  height: 85%;
  border-radius: 12px;
}

.gallery-item-ag img:hover { 
  transform: scale(1.1);
}

.seller-login-ag {
  margin-top: 10%;
  background-color: #333;
  padding: 3.2rem;
  color: #cb997e;
  padding-bottom: 5%;
  padding-top: 5%;
}

.admin-login-ag {
  background-color: #777;
  padding: 2.4rem;
  color: #cb997e;
  padding-bottom: 7%;
  padding-top: 5%;
  margin-top: 5%;
}

.admin-in-background-ag {
  background-color: #777;
  border-radius: 50%;
}

.admin-out-background-ag {
  background-color: #333;
  padding: 3%;
}

.padding-admin-ag {
  padding-top: 15%;
  padding-left: 40%;
}

.marghead-ag {
  /* margin-left: 5%; */
}

.margbutton-ag {
  /* margin-left: 40% !important; */
}

.padd-ag {
  width: 220%;
}

.modify-ag {
  height: 10rem;
}

/*****************************/
.footer-ag {
  padding: 0 0 12.8rem 0;

  background-color: #fae5d3;
}

.grid--footer-ag {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-heading-ag {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.logo-col-ag {
  display: flex;
  flex-direction: column;
}

.footer-logo-ag {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links-ag {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon-ag {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright-ag {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.contacts-ag {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address-ag {
  margin-bottom: 2.4rem;
}

.footer-nav-ag {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link-ag:link,
.footer-link-ag:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link-ag:link,
.footer-link-ag:visited {
  color: #555;
}

/******************************/
.waves-ag {
  padding-bottom: 10%;
  position: relative;
  margin-top: 4%;
}

footer .wave-ag {  
  position: absolute;
  top: -10rem;
  left: 0;
  width: 100%;
  height: 10rem;
  background: url(/images/image/wave4.png);
  background-size: 100rem 10rem;
}

footer .wave-ag#wave1 {   
  z-index: 1000;
  opacity: 1;
  bottom: 0;

  animation: animateWave 4s linear infinite;
}

footer .wave-ag#wave2 {   
  z-index: 999;
  opacity: 0.5;
  bottom: 1rem;

  animation: animateWave_02 4s linear infinite;
}

footer .wave-ag#wave3 {   
  z-index: 1000;
  opacity: 0.2;
  bottom: 1.5rem;

  animation: animateWave 3s linear infinite;
}

footer .wave-ag#wave4 {    
  z-index: 999;
  opacity: 0.7;
  bottom: 2rem;

  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {    /* SOMU*/
  0% {
    background-position-x: 100rem;
  }

  100% {
    background-position-x: 0rem;
  }
}

@keyframes animateWave_02 {     /* SOMU*/
  0% {
    background-position-x: 0rem;
  }

  100% {
    background-position-x: 100rem;
  }
}

.notflex-ag {
  display: grid;
}

/*8***********************/
@media (max-width: 84em) {      
  .hero-ag {
    max-width: 120rem;
  }

  .heading-primary-ag {
    font-size: 4.4rem;
  }

  .gallery-ag {
    grid-template-columns: repeat(3, 1fr);
  }

  .partsec2-ag {
    height: 1300px;
  }

  .part22-ag {
    border-bottom: 1300px solid transparent;
  }
}

@media (max-width: 75em) {
  .toAll {                      
    /* 9/16=56.25 */
    font-size: 56.25%;
  }

  .grid-ag {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondry-ag {
    font-size: 3.6rem;
  }

  .heading-tertiary-ag {
    font-size: 2.4rem;
  }

  .header-ag {
    padding: 0 3.2rem;
  }

  .main-nav-list-ag {
    gap: 3.2rem;
  }

  .hero-ag {
    gap: 4.8rem;
  }

  .testimonial-container-ag {
    padding: 9.6rem 3.2rem;
  }

  .partsec2-ag {
    height: 1000px;
  }

  .part22-ag {
    border-bottom: 1000px solid transparent;
  }
}

@media (max-width: 59em) {
  .toAll {        
    /* 8/16=50 */
    font-size: 50%;
  }

  .hero-ag {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img-ag {
    width: 60%;
  }

  .hero-text-box-ag {
    text-align: center;
  }

  .hero-img-box-ag {
    text-align: center;
  }

  .delivered-meals-ag {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos-ag img { 
    height: 2.4rem;
  }

  .step-number-ag {
    font-weight: 7.4rem;
  }

  .meal-content-ag {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials-ag {
    grid-template-columns: 1fr;
  }

  .gallery-ag {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta-ag {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form-ag {
    grid-template-columns: 1fr;
  }

  .btn--form-ag {
    margin-top: 1.2rem;
  }

  /* MObile */
  .btn-mobile-nav-ag {
    display: block;
    z-index: 1000;
  }

  .main-nav-ag {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide nevigation */
    /* Allows no transition */
    /* display: none; */
    /* 1 */
    opacity: 0;

    /* 2 unacessaible to mouse */
    pointer-events: none;

    /* 3 screen reader */
    visibility: hidden;
  }

  .nav-open-ag .main-nav-ag {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open-ag .icon-mobile-nav-ag[name="close-outline"] {
    display: block;
  }

  .nav-open-ag .icon-mobile-nav-ag[name="menu-outline"] {
    display: none;
  }

  .main-nav-list-ag {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link-ag:link,
  .main-nav-link-ag:visited {
    font-size: 3rem;
  }
}

@media (max-width: 44em) {
  .grid--3--cols-ag,
  .grid--4--cols-ag {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets-ag {
    grid-column: 1/-1;
    justify-self: center;
  }

  .heading-secondry-ag {
    margin-bottom: 4.8rem;
  }

  .pricing-plan-ag {
    width: 100%;
  }

  .grid--footer-ag {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col-ag,
  .address-col-ag {
    grid-column: span 3;
  }

  .nav-col-ag {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 34em) {
  .grid-ag {
    row-gap: 4.8rem;
  }

  .grid--2--cols-ag,
  .grid--3--cols-ag,
  .grid--4--cols-ag {
    grid-template-columns: repeat(1, 1fr);
  }

  .btn-ag,
  .btn-ag:link,
  .btn-ag:visited {
    padding: 2.4rem 1.6rem;
  }

  .Section-hero-ag {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero-ag {
    padding: 0 3.2rem;
  }

  .hero-img-ag {
    width: 80%;
  }

  .logos-ag img {  
    height: 1.2rem;
  }

  /* 2nd child in cointainer */

  .stem-img-box-ag:nth-child(2) {   
    grid-row: 1;
  }

  .stem-img-box-ag:nth-child(6) {   
    grid-row: 5;
  }

  .stem-img-box-ag {
    transform: translateY(2.4rem);
  }

  .testimonials-ag {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
  }

  .gallery-ag {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta-ag {
    grid-template-columns: 1fr;
  }

  .cta-img-box-ag {
    height: 32rem;
    grid-row: 1;
  }

  .cta-text-box-ag {
    padding: 3.2rem;
  }
}
