
.adjust {
    height: 9rem;
    background-color: rgb(255, 255, 255);
}

.footeer {
    padding: 0 0 6.4rem 0;

    background-color: #fae5d3;
}

.containeer {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.griid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;

    /* margin-bottom: 9.6rem; */
}

.griid--footeer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footeer-headinng {
    font-family: "Rubik", sans-serif;
    color: #555;
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.loggo-col {
    display: flex;
    flex-direction: column;
}

.footeer-logoo {
    display: block;
    margin-bottom: 3.2rem;
}

.loggo {
    height: 2.4rem;
}

.sociaal-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.sociaal-icon {
    height: 1.6rem;
    width: 1.6rem;
}

.copyrighht {
    font-family: "Rubik", sans-serif;

    font-size: 0.9rem;
    color: #767676;
    line-height: 1.6;
    margin-top: auto;
}

.contactts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.addreess {
    font-family: "Rubik", sans-serif;
    color: #555;
    margin-bottom: 1.6rem;
    font-size: 64%;
}

.footeer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.53rem;
}

.footeer-link:link,
.footeer-link:visited {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    font-size: 1.024rem;
    color: #767676;
    transition: all 0.3s;
}

.footeer-link:link,
.footeer-link:visited {
    font-family: "Rubik", sans-serif;
    color: #555;
}

.sidemarg {
    margin-left: 7%;
    margin-right: 7%;
}

/*******************************************/
.waves {
    padding-bottom: 5%;
    position: relative;
    margin-top: 2%;
}

footer .wave {
    position: absolute;
    top: -10rem;
    left: 0;
    width: 100%;
    height: 10rem;
    background: url(./imgs/wave4.png);
    background-size: 100rem 10rem;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;

    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 1rem;

    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 1.5rem;

    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 2rem;

    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 100rem;
    }

    100% {
        background-position-x: 0rem;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0rem;
    }

    100% {
        background-position-x: 100rem;
    }
}

.special {
    font-family: 'Anton', sans-serif;
}

.curve-border {
    border-radius: 8px;
}

.flex-right {
    display: flex;
    margin-left: auto;
}

.flex-mid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.flex-left {
    display: flex;
    margin-right: auto;
}

.fltr {
    border-radius: 5px;
}

.card {
    box-shadow: 1px 1px 1px 3px rgb(219, 219, 219);
}



/* .mainbutton:link,
.mainbutton:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}


.mainbutton:hover,
.mainbutton:active {
    color: #cb997e;
} */




.mainotherbutton:link,
.mainotherbutton:visited {
    margin-top: 2%;
    padding: 0.6rem 1.2rem;
    border-radius: 9px;
    color: #fff;
    background-color: #bb3e03;
    text-decoration: none;

}

.mainotherbutton:hover,
.mainotherbutton:active {
    background-color: #cb997e;
}