.header-content {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.card-v {
    /* background-image: url("/images/service_card_background.jpg"); */
    /* background-image: url("/images/plainbg.jpeg"); */
    background: rgb(27, 40, 62);
    background: linear-gradient(90deg, rgba(27, 40, 62, 1) 0%, rgba(115, 142, 172, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.buttons {
    margin: 0px 30%;
}

.reject {
    background-color: rgb(33, 32, 32);
    border-radius: 10px;
    margin-right: 10%;
}

.accept {
    background-color: rgb(33, 32, 32);
    border-radius: 10px;
    margin-left: 10%;
}

.accept:hover {
    background-color: rgb(8, 153, 8);
}

.reject:hover {
    background-color: rgb(227, 15, 33);
}

.accepted-card {
    background: rgb(27, 40, 62);
    background: linear-gradient(90deg, rgba(27, 40, 62, 1) 0%, rgba(20, 125, 32, 1) 100%);
    color: white;
}

.after-accepted-accept {
    background-color: green;
    border-radius: 10px;
    margin-right: 10%;
}

.after-accepted-reject {
    border-radius: 10px;
    margin-right: 10%;
}