#a6
{
    border:1px;
   flex-basis: 2px;
   flex-wrap: wrap;
    border-color:#DDDDDD;
    border-style: solid;
    padding-inline: 2px;
    border-radius: 8%;
    background-size: 40%;
    background-color:#FAF7F0;

}
.linkee{
    text-decoration: none;
    color: #999999;
}