/* nav,ul{
    display: flex;
    flex-direction: row;    
} */
/* navbar.css */

/* navbar.css */

.locally {
    font-family: 'Black Ops One', cursive;
    font-family: 'Righteous', cursive;
  }
  
